*{
  margin:0px;
  padding:0px;
}
.text-in-menu{
  color: black;
}
a:hover, .text-in-menu{
  text-decoration: none;
}
li:hover .text-in-menu, li:hover i{
  text-decoration: none;
  color: black !important;
}
body{
  /*background: url(../img/background.jpg);*/
  font-family: 'Signika', sans-serif;
  font-size:21px;
}
header {
  background: #ff9d00;
  padding: 10px 20px;
  box-shadow: 0px -10px 20px 2px black;       
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;    
  z-index: 991;
  display: flex;
}
.menu{
  display:inline-block;
  cursor: pointer;
  color: black;
}
.main {
  position: relative;
  top: 50px;
  padding-top: 20px;
}
aside {
  width: 60px;
  background: #ff9d00;
  padding: 0px 0px 10px 0px;
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  box-shadow: 0px 3px 5px #6d6d6d;
  overflow: hidden;
  z-index: 99;
}
aside ul {
  list-style: none;
  width: 100%;
}
aside ul li {
  border-bottom: 1px solid white; 
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
}
aside ul li a {
  font-size: 14px;
  color: #4a4a4a;
  text-decoration: none;
  text-transform:uppercase;   
  white-space: nowrap;
  display: inline-block;
}
aside ul li a span {
  display: inline-block;
  vertical-align: middle;
  color: #000000;
  width: 38px;
}
article {
  background: #fff;
  width: 95%;
  height: 100vh;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 7px #6d6d6d;
}
aside ul li:hover {
  background: #fff;
  box-shadow: inset 0px 0px 77px #dedede;
}
aside ul li a span.notif {
  position: absolute;
  top: 8px;
  text-align: center;
  width: 30px;
  height: 30px;
  right: 10px;
  background: #343436;
  line-height: 31px;
  border-radius: 100%;
  color: #fff;
}
i{
color: black;
}
.red {
  background: #e74c3c !important;         box-shadow: 0px 0px 10px #e74c3c;
}
.yellow {
  background: #f1c40f !important;         box-shadow: 0px 0px 10px #f1c40f;
}
.green {
  background: #27ae60 !important;
  box-shadow: 0px 0px 10px #27ae60;
}
aside ul li a span.notif.green {
    width: 10px;
    height: 10px;
    color: transparent;
    right: 5px;    
    transition: all 0.2s ease;
}
aside ul li a span.notif.yellow  {
    width: 10px;
    height: 10px;
    color: transparent;
    right: 5px;
    transition: all 0.2s ease;
}
aside ul li a span.notif.red  {
    width: 10px;
    height: 10px;
    color: transparent;
    right: 5px;
    transition: all 0.2s ease;
}
.opacity{
  display: none;
}
.keep{
	position: fixed;
	top: 52px;
}
aside.keep.width {
    width: 200px;
    display: block !important;
}
aside.keep.width ul li a span.notif {
    width: 30px;
    height: 30px;
    right: 10px;
    color: #fff;
    box-shadow: 0px 0px 10px transparent;
    top: 8px;
}
@media only screen and (max-width: 500px){
  .keep{
    width: 200px;
  }
  .text-in-menu{
  color: #fff;
  } 
  	span.notif.red {
    width: 30px !important;
    height: 30px !important;
    right: 15px !important;
    color: #fff !important;
    box-shadow: 0px 0px 60px #e74c3c !important;
    top: 10px !important;
	}
	span.notif.yellow {
    width: 30px !important;
    height: 30px !important;
    right: 15px !important;
    color: #fff !important;
    box-shadow: 0px 0px 60px #f1c40f !important;
    top: 10px !important;
	}
	span.notif.green{
    width: 30px !important;
    height: 30px !important;
    right: 15px !important;
    color: #fff !important;
    box-shadow: 0px 0px 60px #27ae60 !important;
    top: 10px !important;
	}
}

.cabinet{
	background-color: #eb6429;
	border-radius: 5px;
	margin-left: auto;	
	display: block;
	position: relative;
	right: 30px;
}
.contacts{
  width: 200px;
  height: 120px;
  color: white;
  position: fixed;
  border-radius: 51%;
  right: -130px;  
  top: calc(50% + 100px);
  transform-origin: 0 0;
  transform: rotate(-90deg);
  padding: 40px 0 0 0;
  z-index: 10;
}
.contacts:before{
  content: "DEVELOPERS";
  width: 200px;
  height: 120px;
  border-radius: 51%;
  position: fixed;
  right: -130px;  
  top:calc(50% - 80px);
  background-color: #ff9d00;
  left: 0;
  text-align: center;
  padding: 40px 0 0 0;
  text-transform: uppercase;
  z-index: 11;
}
.contacts div{
  left: calc(50% - 25px); /*calc(50% - 25px)*/
  position: absolute;
  top: 50px;/*50px*/
  z-index: 1;
  transition: all .5s ease;
}
.contacts div img{
  width: 50px;
  border-radius: 51%;
  box-shadow: 0 0 10px 1px grey;
}
